.button {
  color: @basic-white;

  @media (min-width: @desktop-width) {
    font-weight: 700;
    font-size: 27px;
    line-height: 41px;
    padding: 17px 47px;
    background-color: transparent;
    border: 3px solid @basic-white;
    box-sizing: border-box;
  }
}