.contacts {
  width: 100%;
  background-color: @basic-purple;
}

.contacts__wrapper {
  padding: 30px 27px 85px;
}

.contacts__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 165%;
  margin: 0;
}

.contacts__form {
  padding: 0;
  margin: 50px 0 75px;
}

.contacts__input {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  color: @basic-white;
  width: 210px;
  padding: 10px 0 18px 11px;
  background-color: transparent;
  border: 2px solid @basic-white;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.contacts__button {
  font-weight: 700;
  font-size: 12px;
  line-height: 165%;
  padding: 7px 20px 10px;
  margin-top: 20px;
}

.contacts__logo {
  font-size: 22px;
}

.contacts__list-container {
  margin: 75px 0;
}

.contacts__name {
  font-weight: 600;
  font-size: 19px;
  line-height: 165%;
  margin: 0;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 45px 0 0;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: @basic-white;
  text-decoration: none;
  margin: 0;
}

.contacts__map-container {
  margin-left: -27px;
}

.contacts__map {
  width: 375px;
  height: 354px;
  object-fit: fill;
}

.contacts__social {
  margin-top: 50px;
}