.online-store {
  background-image: url("../img/services-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: 206px 300px;
  background-position: right 126px;
  position: relative;
  overflow: hidden;

  @media (min-width: @laptop-width) {
    background-color: #090F14;
    background-image: url("../img/services-bg-desktop.png");
    background-size: auto 100%;
    background-position: right top;
  }
}

.online-store__wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;

  @media (min-width: @laptop-width) {
    padding: 150px 20px 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 190px 100px 90px;
  }
}

.online-store__title {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  margin: 0;
  flex-basis: 100%;

  @media (min-width: @laptop-width) {
    font-size: 40px;
    margin: 0 0 55px;
  }

  @media (min-width: @desktop-width) {
    font-size: 52px;
    margin: 0 0 95px;
  }
}

.online-store__container {
  width: min-content;

  @media (min-width: @laptop-width) {
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
  }
}

.online-store__text {
  font-weight: 400;
  line-height: 165%;

  @media (min-width: @laptop-width) {
    font-size: 14px;
    width: 500px;
    margin: 75px 0 115px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    width: 600px;
    margin: 95px 0 145px;
  }
}

.online-store__caption {
  font-weight: 600;
  line-height: 165%;
  margin: 0 0 45px;

  @media (min-width: @laptop-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 27px;
  }
}

.online-store__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @laptop-width) {
    width: 500px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
    margin: 0 0 0 100px;
  }
}

.online-store__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @media (min-width: @laptop-width) {
    width: 240px;
    margin: 0 20px 45px 0;
  }

  @media (min-width: @desktop-width) {
    width: 320px;
    margin: 0 160px 65px 0;
  }
}

.online-store__image {
  @media (min-width: @laptop-width) {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    width: 62px;
    height: 62px;
    margin-bottom: 20px;
  }
}

.online-store__item-text {
  font-weight: 400;
  line-height: 145%;
  margin: 0;

  @media (min-width: @laptop-width) {
    font-size: 14px;
  }

  @media (min-width: @desktop-width) {
    font-size: 19px;
  }
}
